{% extends "base.html" %} {% block nav %} {% include
"inc/navbar-registered.html" %} {% endblock nav %} {% block content %}
<h1>Welcome</h1>
{% if message == "" %}
<p class="my-3 lead">Our images</p>
<div class="row">
  <div class="col-sm-6">
    <input
      id="img_filter"
      type="text"
      placeholder="Find image"
      class="form-control"
    />
  </div>
  <div class="col-sm-6">
    <select class="form-control" id="">
      <option value="default">Izaberi korisnika</option>
      <option value="">NekoPoy></option>
      <option value="">Milan2></option>
      <option value="">Marko></option>
    </select>
  </div>
</div>
{% else %}
<h3>{{ message }}</h3>
{% endif %}
<div class="table-responsive">
  <table id="filter-table" class="table table-hover tablesorter">
    <thead>
      <tr class="trow">
        <th>#</th>
        <th>Image name</th>
        <th>Number of likes</th>
        <th>Uploaded at</th>
        <th>Author</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    {% for image in images %}
    <tr>
      <td>{{ image.id | e }}</td>
      <td>{{ image.name | e }}</td>
      <td>{{ image.number_of_likes | e }}</td>
      <td>{{ image.posted_at | e }}</td>
      <td>{{ image.username | e }}</td>
      <td>
        <img
          class="gallery-img"
          src="{{image.img_src[1:]|e}}"
          alt="uploaded image"
        />
      </td>
      <td>
        <a
          class="btn btn-secondary"
          href="{{ urlroot }}/gallery/imgInfo/{{ image.id | e }}"
          >Show more</a
        >
      </td>
    </tr>

    {% endfor %}
  </table>
</div>

{% endblock content %} {%block script %}
<script src="{{ urlroot }}/public/assets/js/filter-images.js"></script>
{% endblock script %}
